---
// It is only executed on the server side
const name = 'Felipe Roman Navas Lederhos'
const title = 'Astro first project'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<h1>Hello {name}</h1>

		<p>Current time static: {new Date(Date.now()).toLocaleString()}</p>
		<p id="current-time-dinamically">Current time dinamically: No time yet</p>

		<footer>Current year: 2023</footer>

		<script>
			const footer = document.querySelector('footer') as HTMLElement;
			const currentTime = document.querySelector('#current-time-dinamically') as HTMLParagraphElement;

			const currentYear: number = new Date(Date.now()).getFullYear();

			footer.innerText = `Current year: ${currentYear}`;
			currentTime.innerText = `Current time dinamically: ${new Date().toLocaleTimeString()}`;
		</script>

	</body>
</html>
